/* LIST */
.list-container>div {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.list-container .main-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.big-badge {
    background-color: #a3a3a333;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a3a3a3;
}

.hedaer-button {
    display: flex;
    gap: 1em;
}

.list-filter>div {
    display: flex;
    gap: 10px;
    align-items: center;
}