@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.5s;
}

.menu-user-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu-user-info img {
  object-fit: cover;
}

.menu-user-info h5 {
  font-weight: 600;
}

.menu-user-info h6 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.page-container {
  background-color: #f6f6f6;
  display: flex;
}

.side-menu {
  background-color: white;
  padding: 0 1.5rem;
  padding-top: 2em;
}

.side-menu > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu > div > div {
  display: flex;
  gap: 10px;
  padding: 1.5em 15px;
  cursor: pointer;
}

.side-menu > div > div:hover {
  background-color: #d2007420;
}

.side-menu > div .active {
  border-right: 6px solid #d20072;
  color: #d20072;
}

.side-menu > div .active * {
  color: #d20072;
}

/** BUTTONS */
.outlined-button {
  background-color: #381a44;
  color: #381a44;
}

.outlined-button svg {
  font-size: 20px;
}

.outlined-button svg,
.outlined-button span,
.outlined-button p {
  color: #381a44;
  display: flex;
  gap: 5px;
}

.outlined-button:hover {
  background-color: #381a44 !important;
  color: #fff;
}

.outlined-button:hover svg,
.outlined-button:hover span,
.outlined-button:hover p {
  color: #fff;
}

.contained-button {
  background-color: #381a44;
  color: #fff;
}

.contained-button svg,
.contained-button span,
.contained-button p {
  color: #fff;
}

.contained-button:hover {
  background-color: #fff !important;
  border-color: #381a44 !important;
  color: #381a44;
}

.contained-button:hover svg,
.contained-button:hover span,
.contained-button:hover p {
  color: #381a44;
}

.default-outlined-button {
  border-color: #a3a3a3;
  background-color: #a3a3a3;
  color: #a3a3a3;
}

.default-outlined-button svg,
.default-outlined-button span,
.default-outlined-button p {
  color: #a3a3a3;
  display: flex;
  gap: 5px;
}

.default-outlined-button:hover {
  background-color: #d20072 !important;
  color: #fff;
}

.default-outlined-button:hover svg,
.default-outlined-button:hover span,
.default-outlined-button:hover p {
  color: #fff;
}

.status {
  border-radius: 15px;
  padding: 5px 15px;
  width: 8em;
}
